<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600"
          rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <!-- Styles -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
          rel="stylesheet" type="text/css" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">{{ config.title | i18n(lang) }}</p>
                <div class="subtitle" v-if="config.cursor">{{ iam | i18n(lang) }}
                    <div style="display: inline-block; position: relative">
                        <div style="display: inline-block; opacity: 0;">{{ longestIAmText }}</div>
                        <div style="display: inline-block; text-align: left; position: absolute; top:0; left: 0;">
                            {{ IAmText | withCursor }}
                        </div>
                    </div>
                </div>
                <p class="subtitle" v-else>
                    {{ config.subtitle | i18n(lang) | text }}
                </p>

                <div class="tabs is-centered">
                    <ul>
                        <li v-for="social in config.socials" :title="social.title">
                            <a :href="social.link" target="_blank">
                                <i class="fa fa-fw fa-lg" :class="[ social.icon ]"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                lang: (navigator.language || navigator.userLanguage || 'en').slice(0, 2),
                config: {},
                startTime: +new Date,
                currentTime: +new Date,
                textSpeed: 200
            };
        },
        methods: {
            load: function () {
                var self = this;

                axios
                    .get("config.json", {
                        responseType: 'json',
                    })
                    .then(function (response) {
                        if (response.data) {
                            self.config = response.data;
                        } else {
                            console.error({message: "Unknown error"});
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        filters: {
            text: function (data) {
                if (data && data.join) {
                    return data.join(', ');
                }

                return data;
            },
            withCursor: function (string) {
                var cursor = Math.floor(+new Date / 500) % 2 ? ' ' : '|';

                return string + cursor;
            },
            i18n: function (array, lang) {
                array = array || [];
                lang = lang || this.lang;

                if (array[lang]) {
                    return array[lang]
                } else {
                    return 'xyu';
                }
            }
        },
        computed: {
            /**
             * @returns {string}
             */
            IAmText: function () {
                var sleep = 10,
                    words = (this.config.subtitle[this.lang] || ['']),
                    length = words.join(''.padEnd(sleep)).length + sleep,
                    iteration = Math.floor((this.currentTime - this.startTime) / this.textSpeed) % length,
                    word = 0,
                    prev = 0,
                    pos = 0;

                while (true) {
                    if (prev <= iteration && iteration <= prev + words[word].length + sleep) {
                        pos = iteration - prev;
                        if (pos < words[word].length) {
                            return words[word].slice(0, pos);
                        } else {
                            return words[word];
                        }
                    }
                    prev = (prev + words[word].length + sleep) % length;
                    word = (word + 1) % words.length;
                }
            },
            /**
             * @returns {string}
             */
            longestIAmText: function () {
                var $words = (this.config.subtitle[this.lang] || ['']),
                    $res = '|';

                for (var $key = 0, $word; $word = $words[$key]; $key++) {
                    console.log($word);
                    if ($word.length + 1 > $res.length) {
                        $res = $word + "|";
                    }
                }

                return $res;
            },
            /**
             * @returns {object}
             */
            iam: function () {
                return {
                    "en": "I'm",
                    "ru": "Я"
                };
            }
        },
        watch: {
            config: function () {
                if (this.config && this.config.title && this.config.title[this.lang]) {
                    document.title = this.config.title[this.lang];
                } else {
                    document.title = 'xyu';
                }
            }
        },
        mounted: function () {
            window.axios.defaults.headers.common = {
                'X-Requested-With': 'XMLHttpRequest'
            };

            this.load();
        },
        created: function () {
            var self = this;

            setInterval(function () {
                self.currentTime = +new Date;
            }, this.textSpeed);
        }
    });
</script>
</body>
</html>
